<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Shire Dashboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div class ="shire-header-full" style="background: url(<%= yield(:bg) %>); background-position: center; background-repeat: no-repeat; background-size:100%;">
    
      <header class="shire-top-nav">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Background",   background_path %></li>
            <li><%= link_to "Indicators", indicators_path %></li>
              </ul>
            <div class = "row">
            <div class = "col-s-1"></div>
            <div class = "col-m-10 dashboard-top-nav">
            <span></span>
              </div>
            <div class = "col-s-1"></div>
            </div>
        <div class = "col-m-10 dashboard-logo"><img src='/assets/logo.png'> - Pancreatic Cancer Dashboard</div>
        </nav>
      </div>
    </header>
    <div class="container"> 
      <div class = "row">
      <div class = "col-s-1"></div>
      <div class = "col-m-10 dashboard-option-boxes">
        <div id="choose-constit" class ="dashboard-option-box">Choose a Constituency</div>
        <div id="choose-ccg" class ="dashboard-option-box">Choose a CCG</div>
        <div id="choose-trust" class ="dashboard-option-box">Choose a Provider</div>
        
        <div id="ccg-dropdown" class="dash-dropdown">
          <select id="ccg-select" name="[ccg_id]">
            <% Ccg.all.each do |ccg| %>
            <option value="<%= ccg.id %>"><%= ccg.name %></option>
            <% end %>
          </select>
          <a id="ccg-confirm" class="confirm-button" href="/ccgs/1">Show CCG Data</a>
        </div>
        
        <div id="trust-dropdown" class="dash-dropdown">
          <select id="ccg-trust" name="[ccg_id]">
            <% Ccg.all.each do |ccg| %>
            <option value="<%= ccg.id %>"><%= ccg.name %></option>
            <% end %>
          </select>
          <a id="ccg-confirm" class="confirm-button" href="/ccgs/1">Show Trust Data</a>
        </div>
        
        <div id="constit-dropdown" class="dash-dropdown">
          <select id="ccg-constituency" name="[ccg_id]">
            <% Ccg.all.each do |ccg| %>
            <option value="<%= ccg.id %>"><%= ccg.name %></option>
            <% end %>
          </select>
          <a id="ccg-confirm" class="confirm-button" href="/ccgs/1">Show Constituency Data</a>
        </div>
        
      </div>
    </div>
    </div>
    
      <div class="divider-bar"><span class="divider-text"><%= yield(:title) %></span></div>
      
    </div>
    
    
      <%= yield %>
    <div class="shire-footer">
      <div class="copyright">© Shire 2016 All Rights Reserved</div>
    </div>
    
<script>
  $("#ccg-select").change(function(){
    $('#ccg-confirm').attr("href", "/ccgs/"+($("#ccg-select").prop('selectedIndex')+1))
  });
</script>
    
  </body>
</html>